<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><img src="../../assets/imgs/logo-ecosys.jpg" alt="logo" class="img-responsive" style="height: 30px;"></a>
    </div>
    <ul class="nav navbar-nav" style="color: white">
      <li><a role="button" (click)="onScroll('main')">Главная</a></li>
      <li *ngIf="!isAuthenticated">
        <a (click)="onScroll('author')"> Авторизация</a>
      </li>
      <li *ngIf="isAuthenticated"><a role="button" (click)="onScroll('about')">Продукты</a></li>
      <li *ngIf="isAuthenticated"><a role="button" (click)="onScroll('service')">Услуги</a></li>
      <li *ngIf="isAuthenticated"><a role="button" (click)="onScroll('partners')">О компании</a></li>
      <li><a role="button" (click)="onScroll('contacts')">Контакты</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li><a style="cursor: pointer;"><span class="glyphicon glyphicon-phone"></span>+7 777 049 1104</a></li> 
      <li *ngIf="isAuthenticated"><a style="cursor: pointer;" (click)="onLogout()">Выйти</a></li>
    </ul>
  </div>
</nav>
