<section class="about" id="about">
  <!-- <div class="container"> -->
  <div class="row">
    <h1 class="text-left">Основы переработки</h1>
    <p>
      <img
        src="./../../assets/imgs/check-grey.svg"
        style="height: 12px"
        alt="#"
      />
      Снижает количество отходов, отправляемых на свалки и мусоросжигательные
      заводы.
    </p>
    <p>
      <img
        src="./../../assets/imgs/check-grey.svg"
        style="height: 12px"
        alt="#"
      />
      Сохраняет природные ресурсы, такие как древесина, вода и минералы
    </p>
    <p>
      <img
        src="./../../assets/imgs/check-grey.svg"
        style="height: 12px"
        alt="#"
      />
      Повышает экономическую безопасность за счет использования внутреннего
      источника материалов
    </p>
    <p>
      <img
        src="./../../assets/imgs/check-grey.svg"
        style="height: 12px"
        alt="#"
      />
      Предотвращает загрязнение, уменьшая потребность в сборе нового сырья
    </p>
  </div>
  <!-- </div> -->
</section>
<section class="service">
  <!-- <div class="container"> -->
  <h3>Наши Услуги:</h3>
  <div class="info-box">
    <div class="box1">
      <img src="../../assets/imgs/servicon.png" alt="#" /><span>Прием</span>
    </div>
    <div class="box1">
      <img src="../../assets/imgs/servicon2.png" alt="#" /><span>Вывоз</span>
    </div>
    <div class="box1">
      <img src="../../assets/imgs/servicon3.png" alt="#" /><span
        >Переработка</span
      >
    </div>
  </div>

  <!-- </div> -->
</section>
