<div class="footer" id="contacts">
  <div class="container">
    <div class="footer__content">
      <div class="footer__inner">
        <h6 class="footer__inner-title">Связаться с нами</h6>
        <p class="footer__inner-text"><a><span class="glyphicon glyphicon-phone"></span>    +7 777 049 1104</a></p>
        <a href="mailto:zhanat.78m@mail.ru" class="footer__inner-email"
          >zhanatm.78@mail.ru</a
        >
        <form class="footer__inner-form">
          <input
            type="text"
            class="footer__inner-input"
            placeholder="Send your email"
          />
          <button class="footer__inner-btn">Send</button>
        </form>
      </div>
      <ul class="footer__social">
        <li class="footer__social-item">
          <a class="footer__social-link footer__social-link--facebook" href="#"
            >Facebook</a
          >
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link footer__social-link--instagram" href="#"
            >Instagram</a
          >
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link footer__social-link--pinterest" href="#"
            >Pinterest</a
          >
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link footer__social-link--whatsapp" href="#"
            >WhatsApp</a
          >
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link footer__social-link--youtube" href="#"
            >Youtube</a
          >
        </li>
      </ul>
      <nav class="footer__menu">
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Delivery</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">FAQ</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Help</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">More About Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="footer__copyright">Copyright</div>
</div>
